<html html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/navbar" xmlns="http://www.w3.org/1999/html">
<body>
<div layout:fragment="site_content">
<body>
<div class="container task">
    <div class="row mt-5">
        <div class="col-16">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>@Email</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ooor:${orders}">
                    <td th:text="${ooor.user.email}"></td>
                    <td style="speak-date: mdy" th:text="${ooor.getCreated()}"></td>
                    <td th:text="${ooor.getOrderStatus().name()}"
                        th:if="${ooor.getOrderStatus().equals(ooor.getOrderStatus().NEW)}" style="color: blue"></td>
                    <td th:text="${ooor.getOrderStatus().name()}"
                        th:if="${ooor.getOrderStatus().equals(ooor.getOrderStatus().APPROVED)}"
                        style="color: green"></td>
                    <td th:text="${ooor.getOrderStatus().name()}"
                        th:if="${ooor.getOrderStatus().equals(ooor.getOrderStatus().CANCELED)}" style="color: red"></td>
                    <td th:text="${ooor.getOrderStatus().name()}"
                        th:if="${ooor.getOrderStatus().equals(ooor.getOrderStatus().CLOSED)}" style="color: lime"></td>
                    <td th:text="${ooor.getOrderStatus().name()}"
                        th:if="${ooor.getOrderStatus().equals(ooor.getOrderStatus().PAID)}" style="color: black"></td>
                    <td th:text="${ooor.getAddress()}"></td>
                    <td th:text="${ooor.getTotalPrice()}"></td>
                    <td>
                        <a th:href="@{'/order/'+${ooor.id}}">
                            <button type="button" class="btn btn-primary">
                                Edit
                            </button>
                        </a>
                    </td>
                    <!--                    <td>-->
                    <!--                        <form th:action="@{'/users/delete'}" method="post">-->
                    <!--                            <button type="submit" class="btn btn-danger" th:value="${user.id}" name="user_id">-->
                    <!--                                Delete-->
                    <!--                            </button>-->
                    <!--                        </form>-->
                    <!--                    </td>--></tr>
                <tr th:each="ooor:${orders}">
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</div>
</body>
</html>